body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #555;
    font-family: monospace;

    main {
        width: 50%;
        margin: 50px 100px;
        float: left;
    }

    aside {
        width: 20%;
        margin-top: 50px;
        margin-left: 5%;
        float: left;
    }

    ul {
        li {
            list-style: none;
        }
    }
}