textarea,
input:not([type="checkbox"]),
button {
    width: 90%;
    padding: 15px 5%;
    font-family: monospace;
    font-weight: 300;
    margin-bottom: 10px;
    border: 0;
    background: #222;
    color: #fff;
    outline: 0;
    font-size: 15px;
}

input[type="checkbox"] {
    margin: 10px;
}

label {
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}

button {
    width: 100%;
    cursor: pointer;
    transition: transform 500ms ease;
}

button:hover {
    transform: scale(1.05);
}